.Formimage img {
    width: 70%;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 0 0 30px #479f78;
}

.Formulario {
    background-color: black;
    border: 2px solid 	#46c34c;
    padding: 25px;
    max-width: 300px; /* o cualquier otro valor que desees */
    margin: 0 auto; /* para centrar horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* agregar sombra para simular una tarjeta */
    border-radius: 10px; /* agregar borde redondeado */
  }

  .Submit {
    background-color: #46c34c;
    border: 2px solid #46c34c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }

  .Label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #46c34c;
  }

  .Error {
    color: #46c34c;
    font-size:  12px;
  }