.nombre {
    color: white;
    text-shadow: 2px 2px 5px #479f78;
    
}

.statusButton {
    background-color: #FB6467FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  
}

.description {
    color: white;
}

.image {
    border-radius: 50%;
}