.container {
    position: relative;
    z-index: 100;
}

.boton {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;    
    background-color: #02afc5;
    color: #f7f07b;
    transition: all 0.3s ease;
    margin: 20px 0 10px 0;
}

.input {
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
    
}

/* .boton:hover {
    transform: scale(1.1);
  } */