.App {
   text-align: center;
   /* height: 100vh; */
   background: url('./espacio-2381.mp4') no-repeat center center fixed; 
   /* Ajusta el tamaño del video según tus necesidades */
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   object-fit: cover;
 }

h1 {
   color: #02afc5;
   
}

.title-image img {
   width: 20%;
   height: auto;
}

@font-face {
  font-family: "rickandmorty";
  src: ("./Fonts/get_schwifty.ttf");
 }
