.App {
   text-align: center;
   background-color: #87d1db;
   /* width: auto; */
   height: 100vh;
}

h1 {
   color: #02afc5;
}

.title-image img {
   width: 20%;
   height: auto;
}

.RickandMorty-image img {
   width: 40%;
   height: auto;
   border-radius: 10%;
   border: 4px solid #02afc5;
   
} 

/* .tv-effect {
   filter: url("path/to/noise.png#tv"),
           blur(1px),
           brightness(50%);
 } */

